pip==10.0.1
bumpversion==0.5.3
wheel==0.32.1
watchdog==0.9.0
flake8==3.5.0
tox==3.1.2
coverage==4.5.1
Sphinx==1.8.0
cryptography==2.3.1
PyYAML==3.12
pytest==3.8.0
pytest-runner==4.2
vcrpy==1.13.0
twine==1.11.0
