pip==24.3.1
bumpversion==0.6.0
wheel==0.44.0
watchdog==5.0.3
flake8==7.1.1
tox==4.23.0
coverage==7.6.3
cryptography==43.0.3
Sphinx==8.1.3
PyYAML==6.0.2
pytest==8.3.3
vcrpy==2.1.1
twine==5.1.1
black==24.8.0
