pip==23.1.1
bumpversion==0.6.0
wheel==0.38.4
watchdog==3.0.0
flake8==5.0.4
tox==4.5.0
coverage==7.3.1
cryptography==40.0.1
Sphinx==7.2.5
PyYAML==6.0
pytest==7.2.2
vcrpy==2.1.1
twine==4.0.2
black==23.3.0
