interactions:
- request:
    body: null
    headers:
      Authorization:
      - Token 0000000000000000000000000000000000000000
      Content-Type:
      - application/json
    method: GET
    uri: https://api.tiingo.com/tiingo/fundamentals/PG/daily?startDate=2020-1-1&endDate=2020-4-1&format=json
  response:
    body:
      string: '[{"date":"2020-01-02T00:00:00.000Z","marketCap":307761344843.6799926758,"enterpriseVal":329620344843.6799926758,"peRatio":67.8076923077,"pbRatio":6.7038717619,"trailingPEG1Y":3.8527097902},{"date":"2020-01-03T00:00:00.000Z","marketCap":305691480843.8400268555,"enterpriseVal":327550480843.8400268555,"peRatio":67.3516483516,"pbRatio":6.658784544,"trailingPEG1Y":3.8267982018},{"date":"2020-01-06T00:00:00.000Z","marketCap":306115428892.0,"enterpriseVal":327974428892.0,"peRatio":67.4450549451,"pbRatio":6.6680192753,"trailingPEG1Y":3.8321053946},{"date":"2020-01-07T00:00:00.000Z","marketCap":304220131735.5200195312,"enterpriseVal":326079131735.5200195312,"peRatio":67.02747[...]
