interactions:
- request:
    body: null
    headers:
      Authorization:
      - Token 0000000000000000000000000000000000000000
      Content-Type:
      - application/json
    method: GET
    uri: https://api.tiingo.com/tiingo/fundamentals/PG/statements?startDate=2020-1-1&endDate=2020-4-1&asReported=true&format=json
  response:
    body:
      string: '[{"statementData": {"cashFlow": [{"value": 3759000000.0, "dataCode":
        "freeCashFlow"}, {"value": -1553000000.0, "dataCode": "issrepayDebt"}, {"value":
        -605000000.0, "dataCode": "capex"}, {"value": -1923000000.0, "dataCode": "payDiv"},
        {"value": 0.0, "dataCode": "investmentsAcqDisposals"}, {"value": -6795000000.0,
        "dataCode": "ncff"}, {"value": -3319000000.0, "dataCode": "issrepayEquity"},
        {"value": 56000000.0, "dataCode": "ncfx"}, {"value": 4364000000.0, "dataCode":
        "ncfo"}, {"value": 92000000.0, "dataCode": "sbcomp"}, {"value": -54000000.0,
        "dataCode": "businessAcqDisposals"}, {"value": 677000000.0, "dataCode": "depamor"},
        {"value": -3025000000.0, "dataCode": "ncf"}, {"value": -650000000.0, "dataCode":
        "ncfi"}], "incomeStatement": [{"value": 18240000000.0, "dataCode": "revenue"},
        {"value": 1.41, "dataCode": "epsDil"}, {"value": 3717000000.0, "dataCode":
        "netinc"}, {"value": 2630100000.0, "dataCode": "shareswaDil"}, {"value": 1.47,
        "dataCode": "eps"}, {"value": 5283000000.0, "dataCode": "ebitda"}, {"value":
        0.0, "dataCode": "rnd"}, {"value": 4889000000.0, "dataCode": "sga"}, {"value":
        4482000000.0, "dataCode": "opinc"}, {"value": 26000000.0, "dataCode": "nonControllingInterests"},
        {"value": 9371000000.0, "dataCode": "grossProfit"}, {"value": 2630100000.0,
        "dataCode": "shareswa"}, {"value": 0.0, "dataCode": "prefDVDs"}, {"value":
        4889000000.0, "dataCode": "opex"}, {"value": 4506000000.0, "dataCode": "ebt"},
        {"value": 789000000.0, "dataCode": "taxExp"}, {"value": 8869000000.0, "dataCode":
        "costRev"}, {"value": 0.0, "dataCode": "netIncDiscOps"}, {"value": 4606000000.0,
        "dataCode": "ebit"}, {"value": 3717000000.0, "dataCode": "netIncComStock"},
        {"value": 100000000.0, "dataCode": "intexp"}, {"value": 3743000000.0, "dataCode":
        "consolidatedIncome"}], "balanceSheet": [{"value": 2469452884.0, "dataCode":
        "sharesBasic"}, {"value": 21250000000.0, "dataCode": "ppeq"}, {"value": 0.0,
        "dataCode": "investmentsCurrent"}, {"value": 6242000000.0, "dataCode": "taxLiabilities"},
        {"value": 92806000000.0, "dataCode": "assetsNonCurrent"}, {"value": 0.0, "dataCode":
        "taxAssets"}, {"value": 9153000000.0, "dataCode": "debtCurrent"}, {"value":
        98414000000.0, "dataCode": "retainedEarnings"}, {"value": 35651000000.0, "dataCode":
        "liabilitiesNonCurrent"}, {"value": 30164000000.0, "dataCode": "liabilitiesCurrent"},
        {"value": 5196000000.0, "dataCode": "acctRec"}, {"value": 6279000000.0, "dataCode":
        "cashAndEq"}, {"value": -14942000000.0, "dataCode": "accoci"}, {"value": 18917000000.0,
        "dataCode": "assetsCurrent"}, {"value": 0.0, "dataCode": "investments"}, {"value":
        63978000000.0, "dataCode": "intangibles"}, {"value": 5521000000.0, "dataCode":
        "inventory"}, {"value": 0.0, "dataCode": "deposits"}, {"value": 0.0, "dataCode":
        "investmentsNonCurrent"}, {"value": 111723000000.0, "dataCode": "totalAssets"},
        {"value": 0.0, "dataCode": "deferredRev"}, {"value": 28138000000.0, "dataCode":
        "debt"}, {"value": 10781000000.0, "dataCode": "acctPay"}, {"value": 65815000000.0,
        "dataCode": "totalLiabilities"}, {"value": 18985000000.0, "dataCode": "debtNonCurrent"},
        {"value": 45908000000.0, "dataCode": "equity"}]}, "quarter": 2, "year": 2020,
        "date": "2020-01-23"}]'
    headers:
      allow:
      - GET, HEAD, OPTIONS
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
