interactions:
- request:
    body: null
    headers:
      Authorization:
      - Token 0000000000000000000000000000000000000000
      Content-Type:
      - application/json
    method: GET
    uri: https://api.tiingo.com/tiingo/fundamentals/PG/statements?startDate=2020-1-1&endDate=2020-4-1&asReported=false&format=json
  response:
    body:
      string: '[{"year": 2020, "date": "2020-03-31", "quarter": 3, "statementData":
        {"cashFlow": [{"dataCode": "freeCashFlow", "value": 3333000000.0}, {"dataCode":
        "issrepayDebt", "value": 8051000000.0}, {"dataCode": "capex", "value": -731000000.0},
        {"dataCode": "payDiv", "value": -1906000000.0}, {"dataCode": "investmentsAcqDisposals",
        "value": -3000000.0}, {"dataCode": "ncff", "value": 5945000000.0}, {"dataCode":
        "issrepayEquity", "value": -200000000.0}, {"dataCode": "ncfx", "value": -170000000.0},
        {"dataCode": "ncfo", "value": 4064000000.0}, {"dataCode": "sbcomp", "value":
        123000000.0}, {"dataCode": "businessAcqDisposals", "value": -4000000.0}, {"dataCode":
        "depamor", "value": 799000000.0}, {"dataCode": "ncf", "value": 9114000000.0},
        {"dataCode": "ncfi", "value": -725000000.0}], "overview": [{"dataCode": "roa",
        "value": 0.0434097458623181}, {"dataCode": "grossMargin", "value": 0.493667944696178},
        {"dataCode": "bvps", "value": 18.6037159476334}, {"dataCode": "roe", "value":
        0.106988820462202}, {"dataCode": "rps", "value": 6.97077482689886}, {"dataCode":
        "currentRatio", "value": 0.825024319066148}, {"dataCode": "profitMargin",
        "value": 0.493667944696178}, {"dataCode": "piotroskiFScore", "value": 6.0},
        {"dataCode": "bookVal", "value": 45941000000.0}, {"dataCode": "longTermDebtEquity",
        "value": 0.507389913149474}, {"dataCode": "revenueQoQ", "value": 0.0456809622160126},
        {"dataCode": "epsQoQ", "value": 0.0747663551401867}], "incomeStatement": [{"dataCode":
        "revenue", "value": 17214000000.0}, {"dataCode": "epsDil", "value": 1.12},
        {"dataCode": "netinc", "value": 2917000000.0}, {"dataCode": "shareswaDil",
        "value": 2613300000.0}, {"dataCode": "eps", "value": 1.15}, {"dataCode": "ebitda",
        "value": 4357000000.0}, {"dataCode": "rnd", "value": 0.0}, {"dataCode": "sga",
        "value": 5045000000.0}, {"dataCode": "opinc", "value": 3453000000.0}, {"dataCode":
        "nonControllingInterests", "value": 40000000.0}, {"dataCode": "grossProfit",
        "value": 8498000000.0}, {"dataCode": "shareswa", "value": 2613300000.0}, {"dataCode":
        "prefDVDs", "value": 0.0}, {"dataCode": "opex", "value": 5045000000.0}, {"dataCode":
        "ebt", "value": 3458000000.0}, {"dataCode": "taxExp", "value": 541000000.0},
        {"dataCode": "costRev", "value": 8716000000.0}, {"dataCode": "netIncDiscOps",
        "value": 0.0}, {"dataCode": "ebit", "value": 3558000000.0}, {"dataCode": "netIncComStock",
        "value": 2917000000.0}, {"dataCode": "intexp", "value": 100000000.0}, {"dataCode":
        "consolidatedIncome", "value": 2957000000.0}], "balanceSheet": [{"dataCode":
        "totalAssets", "value": 118560000000.0}, {"dataCode": "sharesBasic", "value":
        2469452884.0}, {"dataCode": "ppeq", "value": 20459000000.0}, {"dataCode":
        "investmentsCurrent", "value": 0.0}, {"dataCode": "taxLiabilities", "value":
        6309000000.0}, {"dataCode": "assetsNonCurrent", "value": 91420000000.0}, {"dataCode":
        "taxAssets", "value": 0.0}, {"dataCode": "debtCurrent", "value": 12701000000.0},
        {"dataCode": "retainedEarnings", "value":[...]
