interactions:
- request:
    body: null
    headers:
      Authorization:
      - Token 0000000000000000000000000000000000000000
      Content-Type:
      - application/json
    method: GET
    uri: https://api.tiingo.com/tiingo/fundamentals/GOOGL/statements?startDate=2020-1-1&endDate=2020-4-1&asReported=false&format=json
  response:
    body:
      string: '[{"date": "2020-03-31", "statementData": {"cashFlow": [{"value": -1847000000.0,
        "dataCode": "ncfi"}, {"value": -9737000000.0, "dataCode": "issrepayEquity"},
        {"value": 5446000000.0, "dataCode": "freeCashFlow"}, {"value": -272000000.0,
        "dataCode": "ncfx"}, {"value": 11451000000.0, "dataCode": "ncfo"}, {"value":
        -49000000.0, "dataCode": "issrepayDebt"}, {"value": 3108000000.0, "dataCode":
        "depamor"}, {"value": -6005000000.0, "dataCode": "capex"}, {"value": 3191000000.0,
        "dataCode": "sbcomp"}, {"value": 1146000000.0, "dataCode": "ncf"}, {"value":
        -190000000.0, "dataCode": "businessAcqDisposals"}, {"value": 0.0, "dataCode":
        "payDiv"}, {"value": 3936000000.0, "dataCode": "investmentsAcqDisposals"},
        {"value": -8186000000.0, "dataCode": "ncff"}], "incomeStatement": [{"value":
        14200000000.0, "dataCode": "opex"}, {"value": 6836000000.0, "dataCode": "netinc"},
        {"value": 0.0, "dataCode": "prefDVDs"}, {"value": 0.0, "dataCode": "intexp"},
        {"value": 22177000000.0, "dataCode": "grossProfit"}, {"value": 687286090.0,
        "dataCode": "shareswa"}, {"value": 0.0, "dataCode": "netIncDiscOps"}, {"value":
        41159000000.0, "dataCode": "revenue"}, {"value": 6820000000.0, "dataCode":
        "rnd"}, {"value": 6836000000.0, "dataCode": "netIncComStock"}, {"value": 7380000000.0,
        "dataCode": "sga"}, {"value": 18982000000.0, "dataCode": "costRev"}, {"value":
        9.87, "dataCode": "epsDil"}, {"value": 9.96, "dataCode": "eps"}, {"value":
        921000000.0, "dataCode": "taxExp"}, {"value": 7757000000.0, "dataCode": "ebit"},
        {"value": 6836000000.0, "dataCode": "consolidatedIncome"}, {"value": 7977000000.0,
        "dataCode": "opinc"}, {"value": 7757000000.0, "dataCode": "ebt"}, {"value":
        0.0, "dataCode": "nonControllingInterests"}, {"value": 10865000000.0, "dataCode":
        "ebitda"}], "overview": [{"value": 0.129119730854069, "dataCode": "roa"},
        {"value": 0.538812896328871, "dataCode": "grossMargin"}, {"value": 296.323471350919,
        "dataCode": "bvps"}, {"value": 0.174295876869016, "dataCode": "roe"}, {"value":
        59.8862694864085, "dataCode": "rps"}, {"value": 3.65816516957376, "dataCode":
        "currentRatio"}, {"value": 0.538812896328871, "dataCode": "profitMargin"},
        {"value": 5.0, "dataCode": "piotroskiFScore"}, {"value": 203659000000.0, "dataCode":
        "bookVal"}, {"value": 0.076068329904399, "dataCode": "longTermDebtEquity"},
        {"value": 0.132639863507526, "dataCode": "revenueQoQ"}, {"value": 0.0396659707724427,
        "dataCode": "epsQoQ"}], "balanceSheet": [{"value": 2640000000.0, "dataCode":
        "taxAssets"}, {"value": 22574000000.0, "dataCode": "intangibles"}, {"value":
        69744000000.0, "dataCode": "totalLiabilities"}, {"value": 109952000000.0,
        "dataCode": "investments"}, {"value": 0.0, "dataCode": "debtCurrent"}, {"value":
        147018000000.0, "dataCode": "assetsCurrent"}, {"value": 151068000000.0, "dataCode":
        "retainedEarnings"}, {"value": 29555000000.0, "dataCode": "liabilitiesNonCurrent"},
        {"value": -109[...]
