interactions:
- request:
    body: null
    headers:
      Authorization:
      - Token 0000000000000000000000000000000000000000
      Content-Type:
      - application/json
    method: GET
    uri: https://api.tiingo.com/tiingo/fundamentals/meta?format=json&tickers=PG%2CCAT
  response:
    body:
      string: '[{"permaTicker":"US000000000140","ticker":"cat","name":"Caterpillar
        Inc","isActive":true,"isADR":false,"sector":"Industrials","industry":"Farm
        & Heavy Construction Machinery","sicCode":3531,"sicSector":"Manufacturing","sicIndustry":"Construction
        Machinery & Equip","reportingCurrency":"usd","location":"Illinois, USA","companyWebsite":"http:\/\/www.caterpillar.com","secFilingWebsite":"https:\/\/www.sec.gov\/cgi-bin\/browse-edgar?action=getcompany&CIK=0000018230","statementLastUpdated":"2021-02-23T00:06:46.211Z","dailyLastUpdated":"2021-04-27T20:52:44.524Z"},{"permaTicker":"US000000000309","ticker":"pg","name":"Procter
        & Gamble Company","isActive":true,"isADR":false,"sector":"Consumer Defensive","industry":"Household
        & Personal Products","sicCode":2840,"sicSector":"Manufacturing","sicIndustry":"Soap
        Detergents Cleang Preparations Perfumes Cosmetics","reportingCurrency":"usd","location":"Ohio,
        USA","companyWebsite":"http:\/\/www.pginvestor.com","secFilingWebsite":"https:\/\/www.sec.gov\/cgi-bin\/browse-edgar?action=getcompany&CIK=0000080424","statementLastUpdated":"2021-04-24T00:19:24.681Z","dailyLastUpdated":"2021-04-27T21:07:49.725Z"}]'
    headers:
      allow:
      - GET, HEAD, OPTIONS
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
