interactions:
- request:
    body: null
    headers:
      Authorization:
      - Token 0000000000000000000000000000000000000000
      Content-Type:
      - application/json
    method: GET
    uri: https://api.tiingo.com/tiingo/fundamentals/meta?format=json&tickers=GOOGL
  response:
    body:
      string: '[{"permaTicker":"US000000000326","ticker":"googl","name":"Alphabet
        Inc - Class A","isActive":true,"isADR":false,"sector":"Field not available
        for free\/evaluation","industry":"Field not available for free\/evaluation","sicCode":"Field
        not available for free\/evaluation","sicSector":"Field not available for free\/evaluation","sicIndustry":"Field
        not available for free\/evaluation","reportingCurrency":"usd","location":"Field
        not available for free\/evaluation","companyWebsite":"Field not available
        for free\/evaluation","secFilingWebsite":"Field not available for free\/evaluation","statementLastUpdated":"2021-02-09T00:35:22.358Z","dailyLastUpdated":"2021-02-24T22:07:19.489Z"}]'
    headers:
      allow:
      - GET, HEAD, OPTIONS
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
