interactions:
- request:
    body: null
    headers:
      Authorization:
      - Token 0000000000000000000000000000000000000000
      Content-Type:
      - application/json
    method: GET
    uri: https://api.tiingo.com/tiingo/fundamentals/GOOGL/statements?startDate=2020-1-1&endDate=2020-4-1&asReported=true&format=json
  response:
    body:
      string: '[{"date": "2020-02-04", "statementData": {"balanceSheet": [{"value":
        45221000000.0, "dataCode": "liabilitiesCurrent"}, {"value": 11860000000.0,
        "dataCode": "taxLiabilities"}, {"value": 25326000000.0, "dataCode": "acctRec"},
        {"value": 18498000000.0, "dataCode": "cashAndEq"}, {"value": -1232000000.0,
        "dataCode": "accoci"}, {"value": 152578000000.0, "dataCode": "assetsCurrent"},
        {"value": 114255000000.0, "dataCode": "investments"}, {"value": 123331000000.0,
        "dataCode": "assetsNonCurrent"}, {"value": 22603000000.0, "dataCode": "intangibles"},
        {"value": 2887000000.0, "dataCode": "taxAssets"}, {"value": 999000000.0, "dataCode":
        "inventory"}, {"value": 0.0, "dataCode": "deposits"}, {"value": 84587000000.0,
        "dataCode": "ppeq"}, {"value": 13078000000.0, "dataCode": "investmentsNonCurrent"},
        {"value": 275909000000.0, "dataCode": "totalAssets"}, {"value": 8182000000.0,
        "dataCode": "deferredRev"}, {"value": 14768000000.0, "dataCode": "debt"},
        {"value": 101177000000.0, "dataCode": "investmentsCurrent"}, {"value": 5561000000.0,
        "dataCode": "acctPay"}, {"value": 0.0, "dataCode": "debtCurrent"}, {"value":
        152122000000.0, "dataCode": "retainedEarnings"}, {"value": 74467000000.0,
        "dataCode": "totalLiabilities"}, {"value": 29246000000.0, "dataCode": "liabilitiesNonCurrent"},
        {"value": 14768000000.0, "dataCode": "debtNonCurrent"}, {"value": 687286090.0,
        "dataCode": "sharesBasic"}, {"value": 201442000000.0, "dataCode": "equity"}],
        "cashFlow": [{"value": -7326000000.0, "dataCode": "ncff"}, {"value": -47000000.0,
        "dataCode": "issrepayDebt"}, {"value": 3413000000.0, "dataCode": "depamor"},
        {"value": -6052000000.0, "dataCode": "capex"}, {"value": -7297000000.0, "dataCode":
        "issrepayEquity"}, {"value": 68000000.0, "dataCode": "ncfx"}, {"value": 14427000000.0,
        "dataCode": "ncfo"}, {"value": 2466000000.0, "dataCode": "ncf"}, {"value":
        0.0, "dataCode": "payDiv"}, {"value": -4703000000.0, "dataCode": "ncfi"},
        {"value": 2645000000.0, "dataCode": "sbcomp"}, {"value": 3370000000.0, "dataCode":
        "investmentsAcqDisposals"}, {"value": -2142000000.0, "dataCode": "businessAcqDisposals"},
        {"value": 8375000000.0, "dataCode": "freeCashFlow"}], "incomeStatement": [{"value":
        46075000000.0, "dataCode": "revenue"}, {"value": 9266000000.0, "dataCode":
        "opinc"}, {"value": 15.47, "dataCode": "eps"}, {"value": 687286090.0, "dataCode":
        "shareswa"}, {"value": 0.0, "dataCode": "nonControllingInterests"}, {"value":
        0.0, "dataCode": "prefDVDs"}, {"value": 10671000000.0, "dataCode": "netinc"},
        {"value": 15789000000.0, "dataCode": "opex"}, {"value": 7222000000.0, "dataCode":
        "rnd"}, {"value": 10704000000.0, "dataCode": "ebt"}, {"value": 8567000000.0,
        "dataCode": "sga"}, {"value": 33000000.0, "dataCode": "taxExp"}, {"value":
        15.33, "dataCode": "epsDil"}, {"value": 25055000000.0, "dataCode": "grossProfit"},
        {"value": 21020000000.0, "dataCode": "costRev"}, {"value": 14117000000.0,
        "dataCode": "ebitda"}, {"value": 0.0, "dataCode": "netIncDiscOps"}, {"value":
        10704000000.0, "dataCode": "ebit"}, {"value": 10671000000.0, "dataCode": "netIncComStock"},
        {"value": 0.0, "dataCode": "intexp"}, {"value": 10671000000.0, "dataCode":
        "consolidatedIncome"}]}, "quarter": 4, "year": 2019}, {"date": "2020-02-04",
        "statementData": {"balanceSheet": [{"value": 687286090.0, "dataCode": "sharesBasic"},
        {"value": 84587000000.0, "dataCode": "ppeq"}, {"value": 101177000000.0, "dataCode":
        "investmentsCurrent"}, {"value": 11860000000.0, "dataCode": "taxLiabilities"},
        {"value": 123331000000.0, "dataCode": "assetsNonCurrent"}, {"value": 2887000000.0,
        "dataCode": "taxAssets"}, {"value": 0.0, "dataCode": "debtCurrent"}, {"value":
        1521220000[...]
