interactions:
- request:
    body: null
    headers:
      Authorization:
      - Token 0000000000000000000000000000000000000000
      Content-Type:
      - application/json
    method: GET
    uri: https://api.tiingo.com/tiingo/fundamentals/GOOGL/daily?startDate=2020-1-1&endDate=2020-4-1&format=json
  response:
    body:
      string: '[{"date":"2019-12-31T00:00:00.000Z","marketCap":923760472316.1099853516,"enterpriseVal":920030472316.1099853516,"peRatio":27.0147236789,"pbRatio":4.5857391821,"trailingPEG1Y":1.3434349073},{"date":"2020-01-02T00:00:00.000Z","marketCap":943961417697.3199462891,"enterpriseVal":940231417697.3199462891,"peRatio":27.6054860831,"pbRatio":4.686020878,"trailingPEG1Y":1.372813362},{"date":"2020-01-03T00:00:00.000Z","marketCap":939023255562.4799804688,"enterpriseVal":935293255562.4799804688,"peRatio":27.4610730133,"pbRatio":4.6615068137,"trailingPEG1Y":1.365631739},{"date":"2020-01-06T00:00:00.000Z","marketCap":964052013086.6899414062,"enterpriseVal":960322013086.6899414062,"p[...]
