interactions:
- request:
    body: null
    headers:
      Authorization:
      - Token 0000000000000000000000000000000000000000
      Content-Type:
      - application/json
    method: GET
    uri: https://api.tiingo.com/tiingo/fundamentals/definitions?tickers=GOOGL&format=json
  response:
    body:
      string: '[{"dataCode":"rps","name":"Revenue Per Share","description":"Revenue
        per share","statementType":"overview","units":"$"},{"dataCode":"roa","name":"Return
        on Assets ROA","description":"Net Income\/Total Assets","statementType":"overview","units":"%"},{"dataCode":"assetTurnover","name":"Asset
        Turnover","description":"Revenue over assets","statementType":"overview","units":null},{"dataCode":"bookVal","name":"Book
        Value","description":"Book value of the share, assets - liabilities","statementType":"overview","units":"$"},{"dataCode":"bvps","name":"Book
        Value Per Share","description[...]
