interactions:
- request:
    body: null
    headers:
      Authorization:
      - Token 0000000000000000000000000000000000000000
      Content-Type:
      - application/json
    method: GET
    uri: https://api.tiingo.com/iex/PG/prices?format=json&resampleFreq=30Min&startDate=2018-01-02&endDate=2018-01-02
  response:
    body:
      string: '[{"date":"2018-01-02T14:30:00.000Z","close":91.145,"high":91.75,"low":91.06,"open":91.75},{"date":"2018-01-02T15:00:00.000Z","close":91.115,"high":91.305,"low":91.05,"open":91.14},{"date":"2018-01-02T15:30:00.000Z","close":91.005,"high":91.225,"low":91.005,"open":91.165},{"date":"2018-01-02T16:00:00.000Z","close":90.95,"high":91.07,"low":90.95,"open":91.06},{"date":"2018-01-02T16:30:00.000Z","close":91.005,"high":91.005,"low":90.835,"open":90.95},{"date":"2018-01-02T17:00:00.000Z","close":90.94,"high":91.005,"low":90.88,"open":91.005},{"date":"2018-01-02T17:30:00.000Z","close":90.875,"high":90.98,"low":90.875,"open":90.94},{"date":"2018-01-02T18:00:00.000Z","close":90.91,"high":90.95,"low":90.875,"open":90.875},{"date":"2018-01-02T18:30:00.000Z","close":90.83,"high":90.94,"low":90.825,"open":90.915},{"date":"2018-01-02T19:00:00.000Z","close":90.715,"high":90.84,"low":90.68,"open":90.805},{"date":"2018-01-02T19:30:00.000Z","close":90.81,"high":90.845,"low":90.705,"open":90.715},{"date":"2018-01-02T20:00:00.000Z","close":90.915,"high":90.935,"low":90.805,"open":90.81},{"date":"2018-01-02T20:30:00.000Z","close":90.585,"high":90.885,"low":90.585,"open":90.875}]'
    headers:
      allow:
      - GET, HEAD, OPTIONS
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
