interactions:
- request:
    body: null
    headers:
      Authorization:
      - Token 0000000000000000000000000000000000000000
      Content-Type:
      - application/json
    method: GET
    uri: https://api.tiingo.com/tiingo/news?limit=1&offset=0&sortBy=publishedDate&tickers=aapl&tickers=googl&tags=Technology&tags=Bitcoin&startDate=2016-01-01&endDate=2017-08-31&onlyWithTickers=False
  response:
    body:
      string: "[{\"source\":\"finance.yahoo.com\",\"description\":\"Elon Musk disupted\
        \ claims of a Gigafactory Bitcoin ATM, BitMEX hired a head of compliance and\
        \ there's nearly $1.5 billion worth of Ethereum-tokenized bitcoin.\",\"tags\"\
        :[\"Bitcoin\",\"CryptoCurrency\",\"Defi\",\"Ethereum\",\"Stock\",\"Technology\"\
        ,\"Unknown Sector\"],\"tickers\":[\"defi\",\"goog\",\"googl\"],\"publishedDate\"\
        :\"2020-10-12T16:45:48Z\",\"url\":\"https://finance.yahoo.com/news/blockchain-bites-bitcoin-ethereum-whos-164548067.html\"\
        ,\"title\":\"Blockchain Bites: Bitcoin on Ethereum \u2013 The Whos, Whats\
        \ and Whys\",\"crawlDate\":\"2020-10-12T17:57:59.290788Z\",\"id\":29484963}]"
    headers:
      allow:
      - GET, HEAD, OPTIONS
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
