interactions:
- request:
    body: null
    headers:
      Authorization:
      - Token 0000000000000000000000000000000000000000
      Content-Type:
      - application/json
    method: GET
    uri: https://api.tiingo.com/tiingo/daily/PG
  response:
    body:
      string: '{"name": "Procter & Gamble Company", "description": "P&G serves consumers
        around the world with one of the strongest portfolios of trusted, quality,
        leadership brands, including Always\u00ae, Ambi Pur\u00ae, Ariel\u00ae, Bounty\u00ae,
        Charmin\u00ae, Crest\u00ae, Dawn\u00ae, Downy\u00ae, Fairy\u00ae, Febreze\u00ae,
        Gain\u00ae, Gillette\u00ae, Head & Shoulders\u00ae, Lenor\u00ae, Olay\u00ae,
        Oral-B\u00ae, Pampers\u00ae, Pantene\u00ae, SK-II\u00ae, Tide\u00ae, Vicks\u00ae,
        and Whisper\u00ae. The P&G community includes operations in approximately
        70 countries worldwide.", "ticker": "PG", "exchangeCode": "NYSE", "startDate":
        "1970-01-02", "endDate": "2021-04-27"}'
    headers:
      allow:
      - GET, HEAD, OPTIONS
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
