interactions:
- request:
    body: null
    headers:
      Authorization:
      - Token 0000000000000000000000000000000000000000
      Content-Type:
      - application/json
    method: GET
    uri: https://api.tiingo.com/tiingo/daily/PG/prices?format=json&resampleFreq=daily&startDate=2015-01-01&endDate=2015-01-05
  response:
    body:
      string: '[{"date":"2015-01-02T00:00:00.000Z","close":90.44,"high":91.0,"low":89.92,"open":90.84,"volume":7255394,"adjClose":74.3979026216,"adjHigh":74.8585707493,"adjLow":73.9701393602,"adjOpen":74.7269512843,"adjVolume":7255394,"divCash":0.0,"splitFactor":1.0},{"date":"2015-01-05T00:00:00.000Z","close":90.01,"high":91.0,"low":89.85,"open":90.23,"volume":8626143,"adjClose":74.0441753093,"adjHigh":74.8585707493,"adjLow":73.9125558442,"adjOpen":74.2251520737,"adjVolume":8626143,"divCash":0.0,"splitFactor":1.0}]'
    headers:
      allow:
      - GET, HEAD, OPTIONS
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
