interactions:
- request:
    body: null
    headers:
      Authorization:
      - Token 0000000000000000000000000000000000000000
      Content-Type:
      - application/json
    method: GET
    uri: https://api.tiingo.com/tiingo/daily/PG/prices?format=json&resampleFreq=weekly&startDate=2018-01-05&endDate=2018-01-19
  response:
    body:
      string: '[{"date":"2018-01-05T00:00:00.000Z","close":91.24,"high":91.93,"low":90.52,"open":91.92,"volume":24952543,"adjClose":82.5856668005,"adjHigh":83.2102186429,"adjLow":81.9339605303,"adjOpen":83.2011671669,"adjVolume":24952543,"divCash":0.0,"splitFactor":1.0},{"date":"2018-01-12T00:00:00.000Z","close":89.61,"high":91.77,"low":89.35,"open":90.93,"volume":31208378,"adjClose":81.1102762165,"adjHigh":83.0653950272,"adjLow":80.8749378412,"adjOpen":82.3050710453,"adjVolume":31208378,"divCash":0.0,"splitFactor":1.0},{"date":"2018-01-19T00:00:00.000Z","close":91.07,"high":91.73,"low":89.64,"open":90.14,"volume":33702786,"adjClose":83.0621417152,"adjHigh":83.2354348625,"adjLow":81.1374306445,"adjOpen":81.5900044432,"adjVolume":33702786,"divCash":0.6896,"splitFactor":1.0}]'
    headers:
      allow:
      - GET, HEAD, OPTIONS
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
