interactions:
- request:
    body: null
    headers:
      Authorization: [Token 0000000000000000000000000000000000000000]
      Content-Type: [application/json]
    method: GET
    uri: https://api.tiingo.com/tiingo/daily/GOOGL/prices?format=json&resampleFreq=daily
  response:
    body: {string: '[{"adjClose":1132.71,"adjHigh":1138.78,"adjLow":1123.23,"adjOpen":1131.21,"adjVolume":1364226,"close":1132.71,"date":"2018-06-08T00:00:00+00:00","divCash":0.0,"high":1138.78,"low":1123.23,"open":1131.21,"splitFactor":1.0,"volume":1364226}]'}
    headers:
      Allow: ['GET, HEAD, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
