interactions:
- request:
    body: null
    headers:
      Authorization:
      - Token 0000000000000000000000000000000000000000
      Content-Type:
      - application/json
    method: GET
    uri: https://api.tiingo.com/tiingo/daily/PG/prices?format=json&resampleFreq=daily
  response:
    body:
      string: '[{"adjClose":131.18,"adjHigh":131.89,"adjLow":130.295,"adjOpen":131.24,"adjVolume":8297033,"close":131.18,"date":"2021-04-27T00:00:00+00:00","divCash":0.0,"high":131.89,"low":130.295,"open":131.24,"splitFactor":1.0,"volume":8297033}]'
    headers:
      allow:
      - GET, HEAD, OPTIONS
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
