# This file is used by mybinder.org to power the runnable examples.
tiingo

# You technically don't have to use tiingo with pandas, but
# we included it since most data analysts will have it installed already.
pandas==0.24.2
